html {
  font-size: 62.5%;
  font-family: "proxima-nova",sans-serif;
  color: #777;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.4em /* equiv 14px */;
  line-height: 1.5;
  height: 100%;
}

* {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  background: transparent;
}

p,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
  font-size: 1em /* equiv 14px */;
  line-height: 1.5;
  margin: .75em 0 0;
}

body > script {
  display: none !important;
}

h1,
.h1-like {
  font-size: 1.8571em /* equiv 26px */;
  font-weight: normal;
  line-height: 1.6154em;
  margin: .8077em 0 0 0;
}

h2,
.h2-like {
  font-size: 1.7143em /* equiv 24px */;
  font-weight: normal;
  line-height: 1.75em;
  margin: .875em 0 0 0;
}

h3,
.h3-like {
  font-size: 1.5714em /* equiv 22px */;
  font-weight: normal;
  line-height: 1.909em;
  margin: .9545em 0 0 0;
}

/* alternate font-sizing */

.smaller {
  font-size: .7143em /* equiv 10px */;
}

.small {
  font-size: .8571em /* equiv 12px */;
}

.big {
  font-size: 1.1429em /* equiv 16px */;
}

.bigger {
  font-size: 1.2857em /* equiv 18px */;
}

.biggest {
  font-size: 1.4286em /* equiv 20px */;
}